@{
    ViewData["Title"] = "Login";
}


<section>
    <div class="container px-5 pb-5">
        @if (TempData["message"] != null)
        {
            if (TempData["status"] == "error")
            {
                <div class="alert alert-danger mt-4">
                    <p class="mb-0">@TempData["message"]</p>
                </div>
            }
            if (TempData["status"] == "success")
            {
                <div class="alert alert-success  mt-4">
                    <p class="mb-0">@TempData["message"]</p>
                </div>
            }
        }
        <h1 class="mb-0 mt-5" style="font-size: 45px;">
            Login
        </h1>
        <form method="post" asp-controller="Login" asp-action="Index">
            <div style="max-width: 600px;">
                <div class="mb-3">
                    <label for="email_input" class="form-label">Email address or Username</label>
                    <input type="email" class="form-control" id="email_input" name="EmailorUsername" required>
                </div>

                <div class="mb-3">
                    <label for="password_input" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password_input" name="Password" required>
                </div>

                <button class="btn btn-danger" type="submit">Login</button>
            </div>
        </form>

        <a href="/register" title="Create an account" style="display: block; margin-top: 25px">Don't have an
            account?</a>
    </div>
</section>
