@{
    ViewData["Title"] = "DevMail Privacy";
}
<style>
    h2 {
        margin-top: 25px;
    }
</style>
<section style="background-color: white;">
    <div class="container px-5 pb-5">
        <h1>Privacy Policy for DevMail</h1>
        <p><i>Effective Date: September 17, 2023</i></p>

        <p>Welcome to DevMail! This Privacy Policy outlines how we collect, use, and protect your personal information on our website. Your privacy is important to us, and we are committed to ensuring that your data is handled with care and in compliance with applicable laws and regulations.</p>
    
    
        <h2>1. Information We Collect</h2>
        <p>We do not collect any personal information from you unless explicitly provided by you for communication purposes (e.g., contacting us through our contact form or sending us an email). We do not require you to create an account or provide personal information to access our website.</p>
        <p>We use Google Analytics to collect non-personal information about how you interact with our website. This information includes:</p>
        <ul>
            <li>Your IP address</li>
            <li>Browser type and version</li>
            <li>Operating system</li>
            <li>Pages visited on our website</li>
            <li>Time spent on each page</li>
            <li>Referring website</li>
            <li>Date and time of access</li>
        </ul>
        <p>This data is used solely for the purpose of analyzing website traffic, trends, and improving our website's content and user experience. We do not use Google Analytics to track or collect any personal information.</p>
    
        <h2>2. Cookies and Similar Technologies</h2>
        <p>We use cookies to manage user sessions on our site. Logged in users will have cookies installed on their browsers to identify them and allow access to their account information.</p>
    
        <h2>3. Sharing Your Information</h2>
        <p>We do not sell, trade, or otherwise transfer your personal information to third parties.</p>
    
        <p class="mt-5">By using our website, you consent to the terms outlined in this Privacy Policy.</p>

        <p>Thank you for choosing DevMail!




</p>
    </div>
</section>
