<div class="row popular-stocks-row mb-5">
    <div class="col">
        <a href="/aapl" class="popular-stock-showcase-link">
            <div class="popular-stock-showcase text-center">
                <img src="/imgs/logos/aapl.svg" alt="Apple logo" />
                <div class="company-stock-showcase-name">Apple</div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/t" class="popular-stock-showcase-link">
            <div class="popular-stock-showcase text-center">
                <img src="/imgs/logos/t.svg" alt="AT&T logo" />
                <div class="company-stock-showcase-name">AT&T</div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/cvx" class="popular-stock-showcase-link">
            <div class="popular-stock-showcase text-center">
                <img src="/imgs/logos/cvx.svg" alt="Chevron logo" />
                <div class="company-stock-showcase-name">Chevron</div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/ko" class="popular-stock-showcase-link">
            <div class="popular-stock-showcase text-center">
                <img src="/imgs/logos/ko.svg" alt="Coca-Cola logo" />
                <div class="company-stock-showcase-name">Coca-Cola</div>
            </div>
        </a>
    </div>
    <div class="col">

        <a href="/xom" class="popular-stock-showcase-link">
            <div class="popular-stock-showcase text-center">
                <img src="/imgs/logos/xom.svg" alt="Exxon Mobil logo" />
                <div class="company-stock-showcase-name">Exxon Mobil</div>
            </div>
        </a>
    </div>
    <div class="col">

        <a href="/lmt" class="popular-stock-showcase-link">
            <div class="popular-stock-showcase text-center">
                <img src="/imgs/logos/lmt.svg" alt="Lockheed Martin logo" />
                <div class="company-stock-showcase-name">Lockheed Martin</div>
            </div>
        </a>
    </div>
    <div class="col">

        <a href="/mcd" class="popular-stock-showcase-link">
            <div class="popular-stock-showcase text-center">
                <img src="/imgs/logos/mcd.svg" alt="McDonald's logo" />
                <div class="company-stock-showcase-name">McDonald's</div>
            </div>
        </a>
    </div>

    <div class="col">

        <a href="/wmt" class="popular-stock-showcase-link">
            <div class="popular-stock-showcase text-center">
                <img src="/imgs/logos/wmt.svg" alt="Walmart logo" />
                <div class="company-stock-showcase-name">Walmart</div>
            </div>
        </a>
    </div>


    <p class="text-muted mt-3" style="font-size: 14px;"><i>The logos and their trademarks are owned by their respective
            companies as intellectual property.</i></p>
</div>