<script>
    function UncheckAllCheckboxs() {
        const c = document.getElementsByName("tags_to_parse");
        c.forEach(x => {
            x.checked = false;
        })
    }
</script>

<form method="post">
    <div style="margin-bottom: 10px;">
        <input type="url" placeholder="Enter a valid url" name="url_value" id="url_input" required>
        <button type="submit">Scrape</button>
    </div>


    <div id="checkboxs_div">
         <button onclick="UncheckAllCheckboxs()" type="button">Uncheck all</button>
        <div class="tag-checkbox-div"> <input type="checkbox" id="p_tag_checkbox" name="tags_to_parse" value="p"
                checked>
            <label for="p_tag_checkbox">&lt;p&gt;</label>
        </div>

        <div class="tag-checkbox-div">
            <input type="checkbox" id="a_tag_checkbox" name="tags_to_parse" value="a" checked>
            <label for="a_tag_checkbox">&lt;a&gt;</label>
        </div>

        <div class="tag-checkbox-div"><input type="checkbox" id="img_tag_checkbox" name="tags_to_parse" value="img"
                checked>
            <label for="img_tag_checkbox">&lt;img&gt;</label>
        </div>

        <div class="tag-checkbox-div"><input type="checkbox" id="input_tag_checkbox" name="tags_to_parse" value="input"
                checked>
            <label for="input_tag_checkbox">&lt;input&gt;</label>
        </div>
        <div class="tag-checkbox-div">
            <input type="checkbox" id="script_tag_checkbox" name="tags_to_parse" value="script" checked>
            <label for="script_tag_checkbox">&lt;script&gt;</label>
        </div>
        <div class="tag-checkbox-div">
            <input type="checkbox" id="style_tag_checkbox" name="tags_to_parse" value="style" checked>
            <label for="style_tag_checkbox">&lt;style&gt;</label>
        </div>
        <div class="tag-checkbox-div"> <input type="checkbox" id="form_tag_checkbox" name="tags_to_parse" value="form"
                checked>
            <label for="form_tag_checkbox">&lt;form&gt;</label>
        </div>
        <div class="tag-checkbox-div"><input type="checkbox" id="h1_tag_checkbox" name="tags_to_parse" value="h1"
                checked>
            <label for="h1_tag_checkbox">&lt;h1&gt;</label>
        </div>
        <div class="tag-checkbox-div"><input type="checkbox" id="h2_tag_checkbox" name="tags_to_parse" value="h2"
                checked>
            <label for="h2_tag_checkbox">&lt;h2&gt;</label>
        </div>
        <div class="tag-checkbox-div"> <input type="checkbox" id="h3_tag_checkbox" name="tags_to_parse" value="h3"
                checked>
            <label for="h3_tag_checkbox">&lt;h3&gt;</label>
        </div>
        <div class="tag-checkbox-div"> <input type="checkbox" id="h4_tag_checkbox" name="tags_to_parse" value="h4"
                checked>
            <label for="h4_tag_checkbox">&lt;h4&gt;</label>
        </div>
        <div class="tag-checkbox-div"> <input type="checkbox" id="h5_tag_checkbox" name="tags_to_parse" value="h5"
                checked>
            <label for="h5_tag_checkbox">&lt;h5&gt;</label>
        </div>
        <div class="tag-checkbox-div"> <input type="checkbox" id="h6_tag_checkbox" name="tags_to_parse" value="h6"
                checked>
            <label for="h6_tag_checkbox">&lt;h6&gt;</label>
        </div>
        <div class="tag-checkbox-div"> <input type="checkbox" id="span_tag_checkbox" name="tags_to_parse" value="span"
                checked>
            <label for="span_tag_checkbox">&lt;span&gt;</label>
        </div>
        <div class="tag-checkbox-div"> <input type="checkbox" id="pre_tag_checkbox" name="tags_to_parse" value="pre"
                checked>
            <label for="pre_tag_checkbox">&lt;pre&gt;</label>
        </div>
        <div class="tag-checkbox-div"><input type="checkbox" id="ul_tag_checkbox" name="tags_to_parse" value="ul"
                checked>
            <label for="ul_tag_checkbox">&lt;ul&gt;</label>
        </div>
        <div class="tag-checkbox-div"><input type="checkbox" id="ol_tag_checkbox" name="tags_to_parse" value="ol"
                checked>
            <label for="ol_tag_checkbox">&lt;ol&gt;</label>
        </div>
        <div class="tag-checkbox-div"><input type="checkbox" id="li_tag_checkbox" name="tags_to_parse" value="li"
                checked>
            <label for="li_tag_checkbox">&lt;li&gt;</label>
        </div>

        <div class="tag-checkbox-div"><input type="checkbox" id="meta_tag_checkbox" name="tags_to_parse" value="meta"
                checked>
            <label for="meta_tag_checkbox">&lt;meta&gt;</label>
        </div>

        <div class="tag-checkbox-div"><input type="checkbox" id="title_tag_checkbox" name="tags_to_parse" value="title"
                checked>
            <label for="title_tag_checkbox">&lt;title&gt;</label>
        </div>
    </div>
</form>