<!DOCTYPE html>
<html lang="en">
    <%- include('./temp/head') %>
    
    <%- include('./temp/nav') %>
    <script>
        var c = document.getElementById('create-acct-btn');
        c.remove();
        var l = document.getElementById('login-btn');
        l.remove();
    </script>
    <body>
        <div class="container">
            <div class="alert alert-info mt-5">You must verify your account before accessing this page. Check your email for the verification link <span id="logout" style="color: red; margin-left: 10px;">logout</span></div>
        </div>
        <script>
            var l = document.getElementById('logout');
            l.addEventListener('click', () => {
                fetch('/fetch/signout', {
                    method: "get",
                    headers: { "Content-Type": "application/json;charset=UTF-8" },
                })
                .then(() => {
                    window.location.reload();
                })
                .catch(() => {
                    alert('could not logout');
                })
            })
        </script>
    </body>

    
</html>