@{
   ViewBag.hasOgTags = true;
   ViewData["Title"] = "DevMail: Developer Friendly Email API";
   
   ViewData["ogTitle"] = "DevMail: A Developer Friendly API for Sending Basic Emails";
   ViewData["ogUrl"] = "https://devmailapi.com";
   ViewData["ogDescription"] = "DevMail is your go-to platform for effortlessly sending emails through an API. Whether you're a developer, a startup, or a business, DevMail simplifies the process of incorporating email functionality into your applications and services. With DevMail, you can send emails without the need to download any SDKs or external libraries, making it a hassle-free solution.";
}

<section style="background-color: white;">
   <div class="container px-5 pb-5">
      <div class="row gx-5 align-items-center">
         <div class="col-xxl-5" id="top_block">
            <!-- Header text content-->
            <div class="text-center text-xxl-start">
               <div class="mb-5">
                  <h1 class="text-gradient" style="font-weight: 900;"><span>Email API Without the
                        Hassle</span></h1>
                  <p style="font-size: 20px; font-weight: 600">100 free API calls a day<br>No payment required</p>

               </div>

               <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                  <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/register">Get
                     API Key</a>
                  <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/docs">Docs</a>
               </div>
               <p>Feel free to use this app for learning how to use APIs or simply for sending funny emails to your
                  friends</p>
            </div>
         </div>
         <div class="col-xxl-7" id="bottom_block">
            <img src="/imgs/homepage-banner.jpg" alt="developer sending emails using api"
               style="width: -webkit-fill-available;" />
         </div>

      </div>
   </div>
</section>

<section class="bg-light py-5">
   <div class="container px-5">
      <div class="row gx-5 justify-content-center">
         <div class="col-xxl-8">
            <div class="text-center my-5">
               <h2 class="display-5 fw-bolder text-gradient">
                  <p><strong>No SDKs. No External Libraries.</strong></p>
               </h2>
               <p class="lead fw-light mb-4">Sending emails programmatically shouldn't demand extensive package
                  downloads and intricate configurations. DevMail is designed for small personal projects and developers
                  who seek a hassle-free way to start sending emails from their backend.</p>

               <h2 class="display-5 fw-bolder text-gradient">
                  <p>Simple by Design</p>
               </h2>
               <p class="lead fw-light mb-4">Send emails through a single endpoint. No need for any additional
                  authentication headers.</p>
            </div>
         </div>
      </div>
   </div>
</section>
