<!DOCTYPE html>
<html lang="en">
    <%- include('./temp/head') %>
    
    <body>
        <div class="container">
            <code>Error: page not found (404)</code>
        </div>
    </body>

    
</html>