<!DOCTYPE html>
    <%- include('./templates/header') %>
    <%- include('./templates/nav') %>
    <body>
        <div class="container mt-4">
            <h2 class="mb-4">Privacy Policy</h2>
            <h3>Cookies</h3>
            <p>This website uses cookies to help identify users who log in and for analytical purposes</p>
            <p>The cookies we use are listed below</p>
            <ul>
                <li>Bhlogs cookies (used to verify accounts logged in)</li>
                <li>Google Analytics tracking cookies</li>
            </ul>
        </div>
    </body>
</html>